<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Description -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Analytics Script -->
    <meta property="og:locale" content="en_NG" />
    <meta property="og:title" content="DataXpress Professionals" />
    <meta
      property="og:description"
      content="Your professional data analytics, consulting and solution delivery company with certified team of professionals in orienting data solutions."
    />
    <meta property="og:url" content="https://dataxpresswebapp.herokuapp.com" />
    <meta property="og:article:section" content="Service" />
    <meta
      property="og:image"
      content="https://dataxpresswebapp.herokuapp.com/images/DataXpressLogo.png"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- framework css -->
    <link rel="stylesheet" href="/css/framework.css" />

    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>DataXpress</title>
  </head>
  <body>
    <!-- header -->
    <header class="header dis-flex jus-cont-sb p-all_2">
      <div class="company">
        <a href="/"
          ><div class="logo" id="companyLogo">
            <img src="/images/DataXpressLogo.png" alt="" /></div
        ></a>
      </div>

      <%- include('./components/topnav.ejs'); %>
    </header>

    <main class="main">
      <!-- hero -->
      <%- include('./components/Hero.ejs') %>

      <!-- data analysts -->
      <%- include('./components/DataAnalysts.ejs') %>

      <!-- services -->
      <%- include('./components/Services.ejs') %>

      <!-- reasons -->
      <%- include('./components/Reasons.ejs') %>
    </main>

    <footer class="footer">
      <div class="tabs row gap-2 p-all_2">
        <div class="tab col-12-xs col-6-md col-4-xl">
          <h2>About Company</h2>
          <p>
            DataXpress is a Professional Data Analytics, Consulting and Solution
            Delivery Company with certified team of professionals in orienting
            Data solutions.
          </p>
        </div>

        <div class="tab col-12-xs col-6-md col-4-xl">
          <h2>Contact us</h2>
          <ul class="nav">
            <li>
              <a href="https://goo.gl/maps/msDGacu77DMLZT8s7"
                ><div class="svgContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                </div>
                Line B, Flat 1, Railway Police Quaters, Opposite Union Bank,
                Ogui Road.</a
              >
            </li>
            <li>
              <a href="http://wa.me/2348060008247"
                ><div class="svgContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                    />
                  </svg>
                </div>
                08060008247</a
              >
            </li>
            <li>
              <a href="mailto:dataxprofessionals@gmail.com"
                ><div class="svgContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                    />
                  </svg>
                </div>
                dataxprofessionals@gmail.com</a
              >
            </li>
          </ul>
        </div>

        <div class="tab col-12-xs col-6-md col-4-xl">
          <h2>Site map</h2>
          <ul class="nav">
            <li>
              <a href=""
                ><div class="svgContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </div>
                Login to Account</a
              >
            </li>
            <li>
              <a href=""
                ><div class="svgContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11"
                    />
                  </svg>
                </div>
                Become a Partner</a
              >
            </li>
            <li>
              <a href="">
                <div class="svgContainer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                Frequently Asked Questions</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">DataXpress Professionals &copy; 2021</div>
    </footer>

    <script src="/js/components/nav.js"></script>
  </body>
</html>
