<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./modules/head.ejs') ; %>
  </head>
  <body>
    <header class="header"><%- include('./components/header.ejs') %></header>
    <main class="main">
      <!-- Hero Section -->
      <%- include('./components/sections/Hero.ejs'); %>

      <!-- OUR PURPOSE -->
      <%- include('./components/sections/DataAnalysts.ejs') %>

      <!-- OUR SERVICES -->
      <%- include('./components/sections/Services.ejs') %>

      <!-- REASONS -->
      <%- include('./components/sections/Reasons.ejs') %>

      <!-- JOIN FORUM -->
      <%- include('./components/sections/JoinForum.ejs'); %>
    </main>
  </body>
</html>
